<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <p>List of Cinemas</p>
        <a th:href="@{/cinema/create}">Add New Cinema</a>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cinema : ${llista}">
                    <td th:text="${cinema.cinemaName}"></td>
                    <td th:text="${cinema.city}"></td>
                    <td><a th:href="@{/cinema/{id}(id=${cinema.id})}">Details</a></td>
                    <td><a th:href="@{/cinema/edit/{id}(id=${cinema.id})}">Edit</a></td>
                    <td><a th:href="@{/cinema/delete/{id}(id=${cinema.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>