<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <p>Cinema <span th:text="${cinema.cinemaName}"></span></p>

    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    City
                </th>
                <th>
                    Address
                </th>
                <th>
                    Postal code
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${cinema.cinemaName}"></td>
                <td th:text="${cinema.city}"></td>
                <td th:text="${cinema.address}"></td>
                <td th:text="${cinema.postalCode}"></td>    
               
            </tr>
        </tbody>
    </table>

    <h3>Rooms</h3>
    <a th:href="@{/room/create(cinemaId=${cinema.id})}">Create new room</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="room : ${cinema.rooms}">
                <td th:text="${room.name}"></td>
                <td th:text="${room.capacity}"></td>
                <td><a th:href="@{/room/{id}(id=${room.id})}">view details</a> <a th:href="@{/room/{id}/update(id=${room.id})}">edit</a> <a th:href="@{/room/{id}/delete(id=${room.id})}">delete</a></td>
            </tr>
        </tbody>
    </table>

    </div>

</div>
