<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="~{layout :: layout(~{::content})}">
    <div th:fragment="content">
        <h2>Tickets</h2>

        <div th:if="${#lists.isEmpty(tickets)}">
            <p>No hi ha tickets encara.</p>
        </div>

        <table th:if="${!#lists.isEmpty(tickets)}">
            <thead>
                <tr>
                    <th>Preu</th>
                    <th>Seient</th>
                    <th>Comanda</th>
                    <th>Projeccio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="|${#numbers.formatDecimal(ticket.price, 1, 2)} €|"></td>
                    <td th:text="|${ticket.seat.seatRow}${ticket.seat.number}|"></td>
                    <td th:text="${ticket.comanda.id}"></td>
                    <td th:text="|${ticket.screening.movie.title} - ${#temporals.format(ticket.screening.dateTime, 'yyyy-MM-dd HH:mm')}|"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>
