<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::#clientContent})}">
<head>
    <title>Client | CinemaDaw</title>
</head>
<body>
<div id="clientContent">
    <section class="dashboard-card">
        <h2>Benvingut/da a CinemaDaw</h2>
        <h3>Cartellera</h3>
        <table border="1" cellspacing="0" cellpadding="5">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Genre</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.title}"></td>
                    <td th:text="${movie.duration}"></td>
                    <td th:text="${movie.genre}"></td>
                    <td th:text="${movie.description}"></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>