<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Genre</th>
                <th>Description</th>
                <th>Release date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.duration}"></td>
                <td th:text="${movie.genre}"></td>
                <td th:text="${movie.description}"></td>
                <td th:text="${movie.releaseDate}"></td>    
            </tr>
        </tbody>
        </table>

    </div>

</div>

</body>
</html>