<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <p>List of Movies</p>

    <table border="1" collspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Genre</th>
                <th>Description</th>
                <th>Release Date</th>
                <th th:if="${isAdmin}">Edit</th>
                <th>Detail</th>
                <th th:if="${isAdmin}">Delete</th>
                <th>Projections</th>
                </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.duration}"></td>
                <td th:text="${movie.genre}"></td>
                <td th:text="${movie.description}"></td>
                <td th:text="${movie.releaseDate}"></td>
                <td th:if="${isAdmin}"><a th:href="@{/movies/update/{id}(id=${movie.id})}">Edit</a></td>
                <td><a th:href="@{/movies/detail/{id}(id=${movie.id})}">Detail</a></td>
                <td th:if="${isAdmin}"><a th:href="@{/movies/delete/{id}(id=${movie.id})}">Delete</a></td>
                <td><a th:href="@{/movies/projections/{id}(id=${movie.id})}">Projections</a></td>
            </tr>
        </tbody>
    </table>

        <div th:if="${isAdmin}">
            <h3>Create Movie</h3>
            <a th:href="@{/movies/create-movies}">Add Movie</a>
        </div>

    </div>

</div>

</body>
</html>