<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Create Cinema</title>
</head>
<body>
    <form th:action="@{/cinema/create}" th:object="${cinema}" method="post">
        <label for="cinemaName">Cinema name:</label>
        <input type="text" th:field="*{cinemaName}" id="cinemaName" placeholder="Cinema name" required>
        <br>
        <br>
        <label for="city">City:</label>
        <input type="text" th:field="*{city}" id="city" placeholder="City" required>
        <br>
        <br>
        <label for="address">Address:</label>
        <input type="text" th:field="*{address}" id="address" placeholder="Address" required>
        <br>
        <br>
        <label for="postalCode">Postal code:</label>
        <input type="text" th:field="*{postalCode}" id="postalCode" placeholder="Postal code" required>
        <br>
        <br>
        <button type="submit">Create Cinema</button>
    </form>
</body>
</html>