<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>


    <p>Cinema <span th:text="${cinema.cinemaName}"></span></p>

    <nav>
        <a href="/home">Home</a>
        <a href="/cinemes">Cinemas</a>
    </nav>

    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    City
                </th>
                <th>
                    Address
                </th>
                <th>
                    Postal code
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${cinema.cinemaName}"></td>
                <td th:text="${cinema.city}"></td>
                <td th:text="${cinema.address}"></td>
                <td th:text="${cinema.postalCode}"></td>    
               
            </tr>
        </tbody>
    </table>

    <h3>Rooms</h3>
    
    <ul>
        <li th:each="room : ${cinema.rooms}" th:text="${room.name} + ' - Capacity: ' + ${room.capacity}"></li>
    </ul>


</body>
</html>