<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">
        <section>
            <h2>Latest News</h2>
            <ul class="news-list">
                <li th:each="news : ${newsList}">
                    <strong th:text="${news.headline}"></strong>
                    <p th:text="${news.body}"></p>
                </li>
            </ul>
        </section>
    </div>

</div>

</body>
</html>