<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymelead.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>CinemaDaw</title>
</head>
<body>
    <header>
    <h1>Cinema</h1>

    <nav>
        <a href="/cinemes">Cinemas</a>
        <a href="/movies/movies">Movies</a>
    </nav>
</header>

    <section>
        <h2>Live the magic of cinema</h2>
        <p>The best premieres, the best experience</p>
    </section>

    <footer>
        <p>2026 Cinema Daw</p>
    </footer>
</body>
</html>