<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>CinemaDaw</title>
</head>

<body>

    <header>
        <div class="header-top">
            <h1>Aplicació Cinema</h1>
            <nav class="navbar-admin">
                <a class="nav-btn" th:if="${isAdmin}" th:href="@{/admin}">Panell admin</a>
                <a class="nav-btn" th:if="${isAdmin}" th:href="@{/cinemes}">Gestionar cinemes</a>
                <a class="nav-btn" th:if="${isAdmin}" th:href="@{/movies/movies}">Gestionar pel·lícules</a>

                <a class="nav-btn" th:if="${isClient}" th:href="@{/client}">Panell client</a>
                <a class="nav-btn" th:if="${isClient}" th:href="@{/movies/movies}">Cartellera</a>

                <a class="nav-btn" th:href="@{/home}">Veure portada</a>
                <a class="nav-btn btn-logout" th:if="${isAuthenticated}" th:href="@{/logout}">Tancar sessió</a>
            </nav>
        </div>
        <hr>
    </header>

    <main th:replace="${content}">
        <!-- aquí es col·locarà el contingut de cada pàgina -->
    </main>

    <footer>
        <hr>
        <p>DAW1 2026</p>
    </footer>

</body>
</html>